logging:
  console: true
  console_verbosity: DEBUG
  file: true
  file_verbosity: DEBUG
  filename: zmq-app-template.log

threatbus: localhost:13370
snapshot: 30

# Socket for the FEVER gRPC connection
socket: /tmp/fever-mgmt.sock
# STIX Object Paths to include in Bloom filter additions
object_paths:
  - domain-name:value
  - url:value